{% extends 'Main/base.html' %}
{% block content %}
<div class="login-register-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                           <h4>Change your Password</h4>
                            <div class="tab-content">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                           <form action="#" method="POST">
                                                {% csrf_token %}
                                                <input type="password" name="password" placeholder="Password" />
                                                <input type="password" name="cpassword" placeholder="Confirm Password" />
                                                <input type="text" name="user" hidden />

                                                <div class="button-box">
                                                    <button class="btn btn-primary" type="submit"><span>Change password</span></button>
                                                </div>
                                           </form>
                                        </div>
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}